<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Android 13+: runtime-permissie om notificaties te posten. -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:label="Wind"
        android:name="${applicationName}"
        android:icon="@android:drawable/sym_def_app_icon">

        <!-- Handmatig te openen Flutter-scherm. -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- App Actions capabilities (shortcuts.xml). -->
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <!-- Trampoline-activity: "huidige windsnelheid". Geen zichtbaar scherm. -->
        <activity
            android:name=".WindSpeedActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:taskAffinity=""
            android:theme="@style/TrampolineTheme" />

        <!-- Trampoline-activity: "voorspelling". Geen zichtbaar scherm. -->
        <activity
            android:name=".ForecastActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:taskAffinity=""
            android:theme="@style/TrampolineTheme" />

        <!-- Vereist door de v2 Flutter-embedding. -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
</manifest>
